@font-face{
    font-family: "Novera-medium";
    src: url("../fonts/Novera-ModernMedium.otf");
}
@font-face{
    font-family: "Novera-bold";
    src: url("../fonts/Novera-ModernBold.otf");
}
@font-face{
    font-family: "Novera-xbold";
    src: url("../fonts/Novera-ModernExtraBold.otf");
}
@font-face{
    font-family: "Novera-light";
    src: url("../fonts/Novera-ModernLight.otf");
}
@font-face{
    font-family: "Novera-regular";
    src: url("../fonts/Novera-ModernRegular.otf");
}
@font-face{
    font-family: "Roxbrough-medium";
    src: url("../fonts/RoxboroughCF-Medium.otf");
}
@font-face{
    font-family: "Roxbrough-light";
    src: url("../fonts/RoxboroughCF-Light.otf");
}
@font-face{
    font-family: "Roxbrough-regular";
    src: url("../fonts/RoxboroughCF-Regular.otf");
}

