@font-face {
  font-family: "Novera-medium";
  src: url("../fonts/Novera-ModernMedium.otf");
}
@font-face {
  font-family: "Novera-light";
  src: url("../fonts/Novera-ModernLight.otf");
}
@font-face {
  font-family: "Novera-regular";
  src: url("../fonts/Novera-ModernRegular.otf");
}
@font-face {
  font-family: "Roxbrough-medium";
  src: url("../fonts/RoxboroughCF-Medium.otf");
}
@font-face {
  font-family: "Roxbrough-light";
  src: url("../fonts/RoxboroughCF-Light.otf");
}
@font-face {
  font-family: "Roxbrough-regular";
  src: url("../fonts/RoxboroughCF-Regular.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #151515;
  background-color: #ffffff;
}

.container {
  width: 100%;
}

.top-header {
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-header img {
  margin-top: -11px;
  width: 150px;
}
.top-header .text-two {
  margin: 37px 20%;
  font-family: "Novera-medium";
  font-size: 15px;
  text-align: center;
  margin-top: 99px;
  color: #747474;
}

.img-body {
  position: relative;
  bottom: -51px;
  width: 74%;
}
.img-body img {
  width: 100%;
  object-fit: contain;
}

.footer {
  background: #151515;
  color: #ffffff;
  height: 800px;
}
.footer .thanku {
  padding-top: 147px;
  padding-bottom: 100px;
}
.footer .thanku .text-one {
  font-family: "Roxbrough-light";
  font-size: 32px;
  text-align: center;
}
.footer .thanku .text-two {
  font-family: "Novera-regular";
  font-size: 15px;
  text-align: center;
  margin: 100px 100px;
  padding: 0 195px;
}
.footer .border-line {
  border: 1px solid #91919147;
  width: 59%;
  margin: 0 auto;
  position: relative;
  top: -67px;
}
.footer .footer-container-sm {
  display: none;
}
.footer .footer-container-lg {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 13%;
}
.footer .footer-container-lg .footer-logo {
  font-family: "Novera-regular";
  font-size: 12px;
  color: #fff;
}
.footer .footer-container-lg .footer-logo img {
  display: block;
  margin-bottom: 19px;
}
.footer .footer-container-lg .grid-two ul {
  list-style: none;
}
.footer .footer-container-lg .grid-two ul li {
  margin-bottom: 19px;
  font-family: "Novera-medium";
}
.footer .footer-container-lg .grid-two ul .items-1 {
  font-family: "Novera-medium";
  font-size: 14px;
  color: #fff;
}
.footer .footer-container-lg .grid-two ul .items-2 {
  color: #fff;
}
.footer .footer-container-lg .grid-two ul .items-3 {
  font-family: "Novera-light";
}
.footer .footer-container-lg .grid-three ul {
  list-style: none;
}
.footer .footer-container-lg .grid-three ul li {
  margin-bottom: 21px;
}
.footer .footer-container-lg .grid-three ul .items-1 {
  font-family: "Novera-medium";
  font-size: 14px;
  color: #fff;
}
.footer .footer-container-lg .grid-three ul .items-3 {
  font-family: "Novera-light";
}
.footer .footer-container-lg .grid-four {
  width: 184px;
}
.footer .footer-container-lg .grid-four h2 {
  font-family: "Novera-medium";
  font-size: 14px;
  color: #fff;
  margin-bottom: 21px;
}
.footer .footer-container-lg .grid-four .social-icons {
  display: flex;
  justify-content: space-around;
}
.footer .footer-container-lg .grid-four .social-icons img:first-child {
  margin-left: -30px;
}

@media only screen and (min-width: 375px) and (max-width: 665px) {
  .top-header {
    margin-bottom: 0;
  }
  .top-header .text-two {
    margin: 19px 9%;
    margin-top: 99px;
  }

  .img-body {
    width: 100%;
  }

  .footer .thanku .text-two {
    margin: 10px;
    padding: 0 27px;
    margin-top: 53px;
  }
  .footer .footer-container-lg {
    display: none;
  }
  .footer .footer-container-sm {
    display: block;
    background: #151515;
    color: #ffffff;
    padding: 19px 40px;
  }
  .footer .footer-container-sm .logo {
    margin-top: 31px;
    margin-bottom: 11px;
  }
  .footer .footer-container-sm .contact-1 {
    font-family: "Novera-medium";
    font-size: 16px;
    margin: 5px 0;
    padding: 24px 0;
  }
  .footer .footer-container-sm .contact-2 {
    font-family: "Novera-light";
    font-size: 16px;
    margin: 5px 0;
    padding: 24px 0;
  }
  .footer .footer-container-sm .contact-3 {
    font-family: "Novera-light";
    font-size: 16px;
    margin: 5px 0;
    padding: 24px 0;
  }
  .footer .footer-container-sm .social-icons {
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
    width: 50%;
    cursor: pointer;
  }
  .footer .footer-container-sm .social-icons img:first-child {
    margin-left: -33px;
  }
  .footer .footer-container-sm .time {
    font-family: "Novera-regular";
    font-size: 16px;
    margin: 5px 0;
    padding: 24px 0;
  }
  .footer .footer-container-sm .copyright {
    font-family: "Novera-medium";
    font-size: 16px;
    margin: 5px 0;
    margin-top: 36px;
  }
}