@font-face {
  font-family: "Novera-medium";
  src: url("../fonts/Novera-ModernMedium.otf");
}

@font-face {
  font-family: "Novera-bold";
  src: url("../fonts/Novera-ModernBold.otf");
}

@font-face {
  font-family: "Novera-xbold";
  src: url("../fonts/Novera-ModernExtraBold.otf");
}

@font-face {
  font-family: "Novera-light";
  src: url("../fonts/Novera-ModernLight.otf");
}

@font-face {
  font-family: "Novera-regular";
  src: url("../fonts/Novera-ModernRegular.otf");
}

@font-face {
  font-family: "Roxbrough-medium";
  src: url("../fonts/RoxboroughCF-Medium.otf");
}

@font-face {
  font-family: "Roxbrough-light";
  src: url("../fonts/RoxboroughCF-Light.otf");
}

@font-face {
  font-family: "Roxbrough-regular";
  src: url("../fonts/RoxboroughCF-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #0d0d0d;
  background-color: #ffffff;
  width: 100%;
  font-size: 10px;
}

.text-one {
  font-family: "Novera-bold";
  font-size: 1.4em;
  padding: 13px;
  border: 1px solid #151515;
  margin-top: 20px;
  font-weight: bold;
}

.text-one {
  font-family: "Novera-regular";
  font-size: 1.9em;
  border: none;
  padding: 5px;
  color: #919191;
  text-decoration: underline;
  background-color: transparent;
  font-weight: normal;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.4em;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

header .top-header {
  background: #0d0d0d;
  color: #ffffff;
  height: 2.5rem;
  font-family: 'Novera-medium';
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .top-header .left-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 28%;
  font-size: 1.5em;
}

header .top-header .left-section .social-logo img {
  width: 20px;
  margin: 5px;
}

header .top-header .left-section .social-logo img:first-child {
  width: 9px;
}

header .bottom-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 83px;
  padding-left: 55px;
  border-bottom: 1px solid #e9e9e9;
  font-family: 'Novera-medium';
  background: #ffffff;
}

header .bottom-header .logo img {
  width: 85px;
}

header .bottom-header .nav-links {
  display: flex;
  justify-content: space-around;
  flex-basis: 40%;
}

header .bottom-header .nav-links a {
  color: #0d0d0d;
  font-size: 1.8em;
}

header .mobile-header {
  display: none;
}

.container {
  margin: 150px;
}

.container-top {
  margin-bottom: 7%;
  margin-left: 10%;
}

.container-top h3 {
  font-family: "Roxbrough-light";
  font-size: 5.6em;
}

.container-top p {
  font-family: "Novera-regular";
  font-size: 1.5em;
  margin-top: 10px;
  color: #919191;
}

.container-body {
  margin-left: 22%;
  margin-top: 5%;
}

.container-body-question {
  margin-bottom: 6%;
}

.container-body-question h3 {
  font-family: "Novera-xbold";
  font-size: 3.2em;
  margin-bottom: 25px;
}

.container-body-question .faq-body .ans {
  display: none;
}

.container-body-question .faq-body .ans p {
  font-family: "Novera-regular";
  font-size: 1.5em;
  margin-bottom: 9px;
  margin-top: 9px;
  color: #919191;
}

.container-body-question .faq-body .ans a {
  color: #151515;
  font-family: "Novera-bold";
  font-size: 1.4em;
  margin: 5px 0;
  text-decoration: underline;
}

footer {
  background-color: #151515;
  color: #ffffff;
  height: 400px;
}

footer .footer-container-sm {
  display: none;
}

footer .footer-container-lg {
  padding: 4% 0;
}

footer .footer-container-lg .top-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 5px 17%;
  margin-top: 0;
}

footer .footer-container-lg .top-footer .footer-logo {
  font-family: 'Novera-regular';
  font-size: 1.4em;
  color: #ffffff;
}

footer .footer-container-lg .top-footer .footer-logo img {
  display: block;
  margin-bottom: 19px;
}

footer .footer-container-lg .top-footer .grid-two {
  font-size: 1.4em;
}

footer .footer-container-lg .top-footer .grid-two ul {
  list-style: none;
}

footer .footer-container-lg .top-footer .grid-two ul li {
  margin-bottom: 19px;
  font-family: 'Novera-medium';
}

footer .footer-container-lg .top-footer .grid-two ul .items-1 {
  font-family: 'Novera-medium';
  font-size: 1.4em;
  color: #ffffff;
}

footer .footer-container-lg .top-footer .grid-two ul .items-2 {
  color: #ffffff;
}

footer .footer-container-lg .top-footer .grid-two ul .items-3 {
  font-family: 'Novera-light';
}

footer .footer-container-lg .top-footer .grid-three {
  font-size: 1.4em;
}

footer .footer-container-lg .top-footer .grid-three ul {
  list-style: none;
}

footer .footer-container-lg .top-footer .grid-three ul li {
  margin-bottom: 21px;
}

footer .footer-container-lg .top-footer .grid-three ul .items-1 {
  font-family: 'Novera-medium';
  color: #ffffff;
}

footer .footer-container-lg .top-footer .grid-three ul .items-3 {
  font-family: 'Novera-regular';
}

footer .footer-container-lg .top-footer .grid-three ul .items-3 span {
  font-family: 'Novera-light';
}

footer .footer-container-lg .top-footer .grid-four {
  width: 184px;
}

footer .footer-container-lg .top-footer .grid-four h2 {
  font-family: 'Novera-medium';
  color: #ffffff;
  margin-bottom: 21px;
}

footer .footer-container-lg .top-footer .grid-four .social-icons {
  display: flex;
  justify-content: space-around;
  margin-left: -13%;
}

footer .footer-container-lg .top-footer .grid-four .book-now {
  padding: 10px;
  border: 1px solid #ffffff;
  margin-left: 0%;
  margin-right: 9%;
  background-color: transparent;
  width: 100%;
  font-size: 1.3em;
  font-weight: bold;
  color: #ffffff;
  margin-top: 22%;
}

footer .footer-container-lg .border {
  border-bottom: 1px solid #e9e9e9;
  width: 60%;
  margin-left: 17%;
}

footer .footer-container-lg .bottom-footer {
  margin: 3% 17%;
  display: flex;
  align-items: center;
}

footer .footer-container-lg .bottom-footer p {
  font-family: 'Novera-regular';
  font-size: 1.5em;
}

footer .footer-container-lg .bottom-footer .policy {
  display: flex;
  flex-basis: 100%;
  justify-content: space-evenly;
}

footer .footer-container-lg .bottom-footer .policy-one {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media only screen and (min-width: 360px) and (max-width: 665px) {
  header {
    padding: 17px;
    background-color: #ffffff;
  }
  header .top-header,
  header .bottom-header {
    display: none;
  }
  header .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .mobile-header .logo img {
    width: 55px;
    margin-left: 21px;
  }
  header .mobile-header .contact {
    font-size: 12px;
    font-family: 'Novera-regular';
    color: #919191;
  }
  header .mobile-header .mobile-menu {
    width: 28px;
    margin-right: 21px;
  }
  .container {
    margin: 100px 5% 100px 3%;
  }
  .container-top {
    margin-left: 3%;
  }
  .container-top h3 {
    font-family: "Roxbrough-light";
    font-size: 3.2em;
  }
  .container-top p {
    font-family: "Novera-regular";
    font-size: 1.7em;
    margin-top: 25px;
    padding-right: 5%;
  }
  .container-body {
    margin-left: 3%;
  }
  .container-body-question {
    margin-bottom: 6%;
    margin-top: 9%;
  }
  .container-body-question h3 {
    font-family: "Novera-bold";
    font-size: 1.9em;
    margin-bottom: 11px;
  }
  .container-body-question .faq-body .text-one {
    font-size: 1.7em;
  }
  .container-body-question .faq-body .ans {
    padding: 14px 0;
  }
  .container-body-question .faq-body .ans p {
    font-size: 1.7em;
    padding-right: 3%;
  }
  footer .footer-container-lg,
  footer .border {
    display: none;
  }
  footer .footer-container-sm {
    display: block;
    background: #151515;
    color: #ffffff;
    padding: 19px 40px;
    padding-top: 18%;
    text-align: center;
  }
  footer .footer-container-sm .logo {
    margin-top: 31px;
    margin-bottom: 49px;
  }
  footer .footer-container-sm .head-title {
    font-family: 'Novera-regular';
    font-size: 1.2em;
  }
  footer .footer-container-sm .contact-1 {
    font-family: 'Novera-medium';
    font-size: 16px;
    margin: 18px 0;
    font-weight: bold;
  }
  footer .footer-container-sm .contact-2 {
    font-family: 'Novera-light';
    font-size: 16px;
    margin: 5px 0;
  }
  footer .footer-container-sm .contact-3 {
    font-family: 'Novera-light';
    font-size: 16px;
    margin: 18px 0;
    margin-bottom: 49px;
  }
  footer .footer-container-sm .book-now {
    padding: 18px;
    border: 1px solid #ffffff;
    margin-left: 0%;
    margin-right: 9%;
    background-color: transparent;
    width: 100%;
    font-size: 1.3em;
    font-weight: bold;
    color: #ffffff;
    margin-top: 14%;
    margin-bottom: 14%;
  }
  footer .footer-container-sm .follow {
    margin: 49px 0;
  }
  footer .footer-container-sm .social-icons {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
  }
  footer .footer-container-sm .time {
    font-family: 'Novera-medium';
    font-size: 16px;
    margin: 18px 0;
    font-weight: bold;
  }
  footer .footer-container-sm .time span {
    font-family: 'Novera-regular';
    font-weight: normal;
  }
  footer .footer-container-sm .policy {
    display: flex;
  }
  footer .footer-container-sm .policy-one {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-right: 18%;
  }
  footer .footer-container-sm .policy-one a {
    text-align: left;
    font-family: 'Novera-medium';
    padding: 7px 0;
  }
  footer .footer-container-sm .copyright {
    font-family: 'Novera-regular';
    font-size: 16px;
    margin: 5px 0;
    margin-top: 36px;
  }
}
