@import 'fonts';

// colors
$color-1: #ffffff;
$color-2: #e9e9e9;
$color-3: #919191;
$color-4: #747474;
$color-5: #383838;
$color-6: #151515;
$color-7: #0d0d0d;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #ffffff;
  background-color: #151515;
}

.container {
  width: 1920px;
}

.top-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 34px;
    .social-logo img {
      padding: 15px;
    }
    .contact-info {
      font-family: 'Novera-regular';
      font-size: 15px;
      color: #ffffff;
    }
  }

  .process{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
        height: 600px;
        margin-left: 80px;
        margin-top: 88px;
      img{
        width: 52px;
        object-fit: contain;
      }
      .process-box{
          margin: 29px 0;

          .text-one{
              font-family: 'Roxbrough-light';
              font-size: 72px;
              text-align: center;

          }
          .text-two{
            font-family: 'Novera-regular';
            font-size: 15px;
            margin-top: 15px;
            margin-bottom: 65px;
            text-align: center;
          }
          .text-three{
            font-family: 'Roxbrough-light';
            font-size: 12px;
            text-align: center;
            cursor: pointer;
          }
      }

  }

  @media only screen and (max-width:375px){
    .container{
        width: 375px;

    }
    .top-header{
        .social-logo,
        .contact-info{
            display: none;
        }
    }
    .process{
        margin-left: 0;
        height: 480px;
        .process-box{
            margin-top: 75px;
            .text-one{
                font-size: 32px;
            }
            .text-three{
                position: relative;
                bottom: -77px;
            }
        }
    }
  }
